/* src/App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #6e8efb;
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.App-header p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.main {
  flex: 1;
  padding: 20px;
}

.controls {
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin-bottom: 20px;
  padding: 12px 24px;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #5d7ff3, #9569d1);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.canvas {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: relative;
    background-color: #f4f4f9;
    padding: 20px;
    border-top: 2px solid #e0e0e0;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  max-width: 300px;
  margin: 10px auto;
}

.card p {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

.card button {
  padding: 8px 16px;
  background-color: #6e8efb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #5d7ff3;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.App-footer {
  background-color: #6e8efb;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: auto;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.App-footer p {
  margin: 0;
}


.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.popup h2 {
  margin-top: 0;
}

.popup button {
  padding: 8px 16px;
  background-color: #6e8efb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.popup button:hover {
  background-color: #5d7ff3;
}
